/* Navbar Styles */
form {
  color: white;
}

.hide-text {
  display: none;
}


form #sendSms:hover {
  background-color: red;
  color: white;
}

form #openNavigate:hover {
  background-color: green;
  color: white;
}

.navbar {
  /* padding: .5rem 1rem;

  max-width: 100%;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.2);

  border-radius: 20px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  transition: background-color 0.5s ease, color 0.5s ease;
  will-change: background;
  default, overridden in media queries */
  top: 1.5rem;

  min-height: 60px; /* stała wysokość */
  display: flex;
  align-items: center; /* wyrównanie w pionie */
  z-index: 1000; /* żeby był nad innymi */
  background-color: rgba(255, 255, 255, 0.2);
 margin-right: 15px;
 margin-left: 15px;
   border-radius: 20px; 
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);

  transition: background-color 0.5s ease, color 0.5s ease;
}
.navbar-container{
    background-color: #0000;
    width: 100%;
    position: fixed;
    inset: 0% 0% auto;
    z-index: 1000;
  }

.nav-item {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  /* lekko pogrubiona */
  font-size: 1rem;
  /* 16px */
  letter-spacing: 0.5px;
}

.navbar-toggler {
  border: none;
}


/* Navbar background when scrolled */
.scrolled {
  background-color: rgba(0, 120, 118, 0.8) !important;
  transition: background-color 0.5s ease, color 0.5s ease;
}
  .me-1{
    margin-right: 0 !important;
  }

/* Featurette Divider */
.featurette-divider {
  margin: 5rem 0;
}

/* Featurette Heading */
.featurette-heading {
  letter-spacing: -0.05rem;
}

@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}


@media (min-width: 509px) {
  .hide-text {
    display: inline-block;
  }
  .me-1{
    margin-right: .25rem !important;
  }
}


/* Navbar max-widths per breakpoint */
@media (min-width: 576px) {
  .navbar {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) {
  .navbar {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .navbar {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .navbar {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .navbar {
    max-width: 1320px;
  }
}