/* Navbar Styles */
form {
  color: white;
}

.hide-text {
  display: none;
}
.me-1 {
  margin-right: 0 !important;
}


form #sendSms:hover {
  background-color: red;
  color: white;
}

form #openNavigate:hover {
  background-color: green;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-around;
  padding: 1rem 10px;
  margin: 1.5em auto 0 auto;
  /* top margin + centered horizontally */
  background-color: rgba(255, 255, 255, 0.2);
  /* semi-transparent */
  border-radius: 20px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  transition: background-color 0.5s ease, color 0.5s ease;
  will-change: background;
  max-width: 100%;
  /* default, overridden in media queries */
}

.nav-item {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  /* lekko pogrubiona */
  font-size: 1rem;
  /* 16px */
  letter-spacing: 0.5px;
}

.navbar-toggler {
  border: none;
}


/* Navbar background when scrolled */
.scrolled {
  background-color: rgba(0, 120, 118, 0.8) !important;
  transition: background-color 0.5s ease, color 0.5s ease;
}

/* Featurette Divider */
.featurette-divider {
  margin: 5rem 0;
}

/* Featurette Heading */
.featurette-heading {
  letter-spacing: -0.05rem;
}

@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}


@media (min-width: 485px) {
  .hide-text {
    display: inline-block;
  }

  .me-1 {
    margin-right: .25rem !important;
  }
}

@media (min-width: 485px) {
  form button {
    font-size: 1rem;
  }

  .container-fluid .navbar-toggler {
    padding: 0px !important;
  }
}

@media (min-width: 500px) {
  form button {
    font-size: 1rem;
  }
}

/* Navbar max-widths per breakpoint */
@media (min-width: 576px) {
  .navbar {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .navbar {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .navbar {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .navbar {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .navbar {
    max-width: 1320px;
  }
}