<nav class="navbar w-nav">
  <div class="container w-container">
    <a class="navbar-brand w-nav-brand" href="/">
      <img src="assets/logo.svg" alt="MedDoc Logo" />
    </a>
    <div class="nav-menu-wrapper w-nav-menu">
      <ul class="nav-menu w-list-unstyled">
        <li><a class="nav-link w-nav-link" href="/">Home</a></li>
        <li><a class="nav-link w-nav-link" href="/about">About</a></li>
        <li><a class="nav-link w-nav-link" href="/services">Services</a></li>
        <li><a class="nav-link w-nav-link" href="/contact">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
