<section id="hanging-icons">
<div class="container px-4 py-5" >
<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading fw-normal lh-1">
      Lorem ipsum dolor sit amet.
      <span class="text-body-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
    </h2>
    <p class="lead">
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
    </p>
    <div class="container text-center my-5">
  <div class="row">
    
    <!-- Counter 1 -->
    <div class="col-md-4 mb-4">
      <div class="counter-box p-4 ">
        <h2 class="counter text-white" data-target="150">0</h2>
       <p class="text-white">Projects</p>
      </div>
    </div>

    <!-- Counter 2 -->
    <div class="col-md-4 mb-4">
      <div class="counter-box p-4">
        <h2 class="counter text-white" data-target="320">0</h2>
        <p class="text-white">Projects</p>
      </div>
    </div>

    <!-- Counter 3 -->
    <div class="col-md-4 mb-4">
      <div class="counter-box p-4">
        <h2 class="counter text-white" data-target="75">0</h2>
       <p class="text-white">Projects</p>
      </div>
    </div>

  </div>
</div>
  </div>
  <div class="col-md-5">
    <svg aria-label="Placeholder: 500x500"
      class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" height="500"
      preserveAspectRatio="xMidYMid slice" role="img" width="500" xmlns="http://www.w3.org/2000/svg">
      <title>Placeholder</title>
      <rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect>
      <text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">
        500x500
      </text>
    </svg>
  </div>
</div>

</div>
</section>


