<section class="bg-light py-5">
  <div class="container px-4 py-5" id="hanging-icons">
    <h2 class="pb-2 border-bottom">Jak dojechać</h2>
    <div class="row justify-content-center py-5">


      <!-- Adres -->
      <div class="col-12 col-lg-5 text-center text-lg-start  justify-content-center align-items-center">
        <p class="fs-5 mb-3">
          Wjeżdżając do <strong>Mierzyna</strong> od strony <strong>Szczecina</strong> ulicą <strong>Welecką</strong>,
          po minięciu znaku miejscowości skręć w prawo w ulicę <strong>Spółdzielców</strong>(Pred sklepem
          <strong>Lidl</strong>).
        </p>
        <div class="text-center mt-4 ">
          <button id="openNavigateFeature" class="btn btn-primary me-3 px-5 py-2 fs-4" type="button" (click)="onOpenNavigate()">
            <i class="bi bi-geo-alt-fill me-1"></i>
            Dojazd
          </button>
        </div>

      </div>
      <!-- Mapa -->
      <div class="col-12 col-lg-6">
        <div class="ratio ratio-16x9 rounded shadow-sm overflow-hidden">
          @if(mapLeaded){
          <google-map [height]="'500px'" [width]="'100%'" [center]="center" [zoom]="zoom">
            <map-marker [position]="markerPosition"></map-marker>
          </google-map>
          }
          @else{
          DUPA
          }

        </div>
      </div>
    </div>
  </div>
</section>