<section class="bg-light pt-5 pb-1 bg-color-ff">
  <div class="container px-4 py-5" id="hanging-icons">
    <h2 class="pb-2 border-bottom">Jak dojechać</h2>
    <div class="row py-5">


      <!-- Adres -->
      <div class="col-12 col-lg-5 text-center text-lg-start align-items-center">
        <p class="fs-5 mb-3" [innerHTML]="'DRIVE.DESC' | translate"></p>
        <div class="text-center mt-5 ">
          <button id="openNavigateFeature" class="btn btn-primary me-3 px-5 py-2 fs-4" type="button" (click)="onOpenNavigate()">
            <i class="bi bi-geo-alt-fill me-1"></i>
            {{'BUTTONS.DRIVE'| translate}}
          </button>
        </div>

      </div>
      <!-- Mapa -->
      <div class="col-12 col-lg-6">
        <div class="ratio ratio-16x9 rounded shadow-sm overflow-hidden">
          @if(mapLeaded){
          <google-map [height]="'500px'" [width]="'100%'" [center]="center" [zoom]="zoom">
            <map-marker [position]="markerPosition"></map-marker>
          </google-map>
          }
          @else{
          Mapa
          }

        </div>
      </div>
    </div>
  </div>
</section>