<div
  [id]="Id"
  class="featurette-card container py-4 my-4 rounded-4 shadow-sm"
  style="display: flex; flex-wrap: wrap; align-items: center; gap: 2rem; background-color: #FFFFFF;"
>
  <!-- Tekst -->
  <div [class]="Img ? 'col-md-12 col-lg-6' : 'col-md-12'">
    <h2 class="fw-semibold mb-3">{{ Title }}</h2>

    <!-- Data publikacji -->
    <p class="text-secondary small d-flex align-items-center mb-3">
      <i class="bi bi-calendar3 me-2"></i> {{ CreatedDate }}
    </p>

    <p class="lead text-muted mb-4">
      {{ Message }}
    </p>
  </div>

  <!-- Obraz -->
     @if(Img){
  <div class="col-md-12 col-lg-4">
    <img class="featurette-heading" [src] = "Img" width="100%" height="auto">
  </div>
}
</div>